@font-face{
    font-family: "Noto Sans KR"; font-style: normal; font-weight: 100; src: url(../fnt/NotoSansKR-Thin.otf) format("opentype");
}
@font-face{
    font-family: "Noto Sans KR"; font-style: normal; font-weight: 200; src: url(../fnt/NotoSansKR-Light.otf) format("opentype");
}
@font-face{
    font-family: "Noto Sans KR"; font-style: normal; font-weight: 400; src: url(../fnt/NotoSansKR-Regular.otf) format("opentype");
}
@font-face{
    font-family: "Noto Sans KR"; font-style: normal; font-weight: 500; src: url(../fnt/NotoSansKR-Medium.otf) format("opentype");
}
@font-face{
    font-family: "Noto Sans KR"; font-style: normal; font-weight: 700; src: url(../fnt/NotoSansKR-Bold.otf) format("opentype");
}
@font-face{
    font-family: "Noto Sans KR"; font-style: normal; font-weight: 900; src: url(../fnt/NotoSansKR-Black.otf) format("opentype");
}
html, body{
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
}
@media(max-width: 1200px){
    p, div.bubblePop, img.bubble{
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
}
body {
    margin: 0rem;
}
html{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar{
    display: none; /* Chrome, Safari, Opera*/
}
a{
    text-decoration: none;
    color: black;
}
@media(min-width: 982px){
    html, h1, p, li{
    font: 500 20px "Noto Sans KR", sans-serif;
    line-height: 1.6rem;
    }
}
@media(max-width: 981px){
    html, h1, p, li{
    font: 500 36px "Noto Sans KR", sans-serif;
    line-height: 1.6rem;
    }
}
div.bubblePop{
    height: calc(100vh - 1.2rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
img.bubble{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 2.4rem;
    filter: grayscale(100%);
}
img.pop{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
nav{
    position: fixed;
    top: 0rem;
    width: 100%;
    height: 2.2rem;
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    background-color: white;
}
div.main{
    display: inline-block;
    height: 2.2rem;
    margin-left: 0.6rem;
}
input.mainButton{
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    padding: 0rem;
    margin: 0.24rem 0rem 0.36rem 0.4rem;
    border: none;
    color: transparent;
    background: url("../img/bubble.png") no-repeat;
    background-size: 1.6rem;
    background-position: center;
    filter: grayscale(100%);
}
input.mainButton:hover{
    filter: none;
}
h1{
    display: inline-block;
    font-size: 1rem;
    padding: 0rem;
    margin: 0.24rem 0.4rem 0.36rem 0.4rem;
    word-break: keep-all;
    overflow: hidden;
}
h1.subTitle{
    margin: 0.24rem 1.2rem 0.36rem 0.4rem;
    float: right;
}
div.wrap{
    display: none;
}
div.obje{
    text-align: center;
    height: calc(100vh - 2.2rem);
    background: url("../img/obje.gif") no-repeat center center;
    background-size: contain;
}
img.obje{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
div.intro{
    margin: 0rem 1.2rem 1.8rem 1.2rem;
    border-top: 0.1rem solid black;
    padding-top: 0.24rem;
}
p{
    margin: 0rem;
    padding: 0rem 0.2rem 0rem 0rem;
    word-break: keep-all;
}
p:not(.head){
    text-indent: 1.6rem;
}
p.rightAlign{
    text-align: right;
}
span.tab {
    white-space: pre;
}
span.italic{
    font-style: italic;
}
div.index{
    margin: 0rem 0.8rem 1.8rem 0.8rem;
}
ul{
    padding: 0rem;
    margin: 0rem;
    overflow: hidden;
}
li{
    padding: 0rem;
    margin: 0rem 0.4rem;
    list-style: none;
    word-break: keep-all;
    overflow: hidden;
}
ul.author{
    display: flex;
    padding: 0.24rem 0rem 0.36rem 0rem;
    border-top: 0.1rem solid black;
}
ul.author:last-child{
    border-bottom: 0.1rem solid black;
}
a:hover{
    color: #FF809E;
}
::selection{
    color: #FF809E;
}
@media(max-width: 900px){
    body{
        width: 900px;
    }
    h1.subTitle{
        display: none;
    }
}
@media(max-width: 981px){
    input.mainButton{
        filter: none;
    }
}
@media(min-width: 982px){
    input.mainButton{
        filter: none;
    }
    div.wrap{
        height: 84.3rem;
        margin: 0 1.2rem;
    }
    div.intro{
        display: block;
        width: calc(50% - 0.6rem);
        margin: 0rem 0rem 1.8rem 0rem;
        float: left;
    }
    div.index{
        display: block;
        width: calc(50% - 0.6rem);
        margin: 0rem 0rem 1.8rem 0rem;
        float: right;
    }
}
@media(min-width: 1201px){
    h1.subTitle{
        position: absolute;
        left: calc(28% + 1.8rem);
    }
    input.mainButton{
        filter: grayscale(100%);
    }
    div.wrap{
        height: auto;
        margin: 0rem 1.2rem;
    }
    div.obje{
        width: 40%;
        float: right;
        height: calc(100vh - 2.4rem);
    }
    div.intro{
        display: block;
        width: 28%;
        float: left;
        margin: 0 0.6rem 0 0;
    }
    div.index{
        display: block;
        width: 28%;
        float: left;
        margin: 0 0.6rem 1.8rem 0.6rem;
    }
}
