@font-face{
    font-family: "Noto Sans KR"; font-style: normal; font-weight: 100; src: url(./font/NotoSansKR-Thin.otf) format("opentype");
}
@font-face{
    font-family: "Noto Sans KR"; font-style: normal; font-weight: 200; src: url(./font/NotoSansKR-Light.otf) format("opentype");
}
@font-face{
    font-family: "Noto Sans KR"; font-style: normal; font-weight: 400; src: url(./font/NotoSansKR-Regular.otf) format("opentype");
}
@font-face{
    font-family: "Noto Sans KR"; font-style: normal; font-weight: 500; src: url(./font/NotoSansKR-Medium.otf) format("opentype");
}
@font-face{
    font-family: "Noto Sans KR"; font-style: normal; font-weight: 700; src: url(./font/NotoSansKR-Bold.otf) format("opentype");
}
@font-face{
    font-family: "Noto Sans KR"; font-style: normal; font-weight: 900; src: url(./font/NotoSansKR-Black.otf) format("opentype");
}
body{
    margin: 0rem;
}
html, body{
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
}
@media(max-width: 1200px){
    p{
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
}
h1, li{
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
@media(min-width: 981px){
    html, h1, p, li{
    font: 500 20px "Noto Sans KR", sans-serif;
    line-height: 1.6rem;
    }
}
@media(max-width: 980px){
    html, h1, p, li{
    font: 500 36px "Noto Sans KR", sans-serif;
    line-height: 1.6rem;
    }
}
nav, ul.author, ul.next-prev{
    display: flex;
}
nav{
    position: fixed;
    top: 0rem;
    width: 100%;
    height: 2.2rem;
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    background-color: white;
}
input.indexToggle{
    width: 1.6rem;
    height: 1.6rem;
    padding: 0rem;
    margin: 0.24rem 0rem 0.36rem 1rem;
    border: none;
    color: transparent;
    background: url(./image/bubble.png) no-repeat;
    background-size: 1.2rem;
    background-position: center;
}
h1{
    font-size: 1rem;
    padding: 0rem;
    margin: 0.24rem 0.4rem 0.36rem 0.4rem;
    word-break: keep-all;
    overflow: hidden;
}
li{
    padding: 0rem;
    margin: 0rem 0.4rem;
    list-style: none;
    word-break: keep-all;
    overflow: hidden;
}
ul{
    padding: 0rem;
    margin: 0rem;
    overflow: hidden;
}
ul.author{
    padding: 0.24rem 0rem 0.36rem 0rem;
    border-top: 0.1rem solid black;
}
ul.author:first-child{
    border-top: none;
}
ul:not(.this), li:not(.this){
    display: none;
}
ul.author.this{
    border-top: none;
}
a:not(.next-prev):hover{
    color: #FF7A94;
}
@media(min-width: 981px){
    ul.next-prev{
        position: absolute;
        right: 0.4rem;
        padding: 0.24rem 0rem 0.36rem 0rem;
    }
}
@media(max-width: 980px){
    ul.next-prev{
        position: fixed;
        bottom: 0.8rem;
        right: 1.2rem;
        border-radius: 1.2rem;
        border: 0.1rem solid black;
        background-color: white;
    }
    li.next-prev{
        width: 1.6rem;
        height: 1.8rem;
        text-align: center;
    }
    li.next-prev:nth-child(1){
        margin: 0rem 0.4rem 0rem 0rem ;
    }
    li.next-prev:nth-child(2){
        margin: 0rem 0rem 0rem 0.4rem ;
    }
}
p{
    padding: 0rem 1.2rem;
    margin: 0rem;
    text-indent: 1.6rem;
    word-break: keep-all;
}
p.asterisk{
    flex-direction: column;
    text-align: center;
    text-indent: 0rem;
}
span.bracket{
    letter-spacing: -0.4rem;
}
p.bracket{
    text-indent: 1.2rem;
}
::selection{
    color: #FF7A94;
}

@media(max-width: 980px){
    div.marginPC{
        display: none;
    }
    div.marginMobile:first-child{
        height: 0.24rem;
    }
    div.marginMobile:last-child{
        height: 3.24rem;
    }
    div.content{
        margin-top: 2.4rem;
    }
    input.indexToggle{
        filter: none;
    }
}
@media(min-width: 981px){
    div.marginMobile{
        display: none;
    }
    div.marginPC{
        height: 2.76rem;
        column-width: 445px;
        column-gap: 0;
        column-rule: 0.1rem solid black;
        overflow-x: scroll;
        -ms-overflow-style: none;
    }
    div.content{
        height: calc(100vh - 2.76rem);
        margin: 0rem;
        column-width: 445px;
        column-gap: 0;
        column-rule: 0.1rem solid black;
        overflow-x: scroll;
        -ms-overflow-style: none;
    }
    div.content::-webkit-scrollbar, div.marginPC::-webkit-scrollbar{
        display: none;
    }
    

}
@media(min-width: 1201px){
    input.indexToggle{
    filter: grayscale(100%);
}
    input.indexToggle:hover{
        filter: none;
    }
}