body{
    background-color: pink;
}
.bubblePop{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.bubble{
    width: 60px;
    height: 60px;
    filter: grayscale(100%);
}
.pop{
    width: 700px;
    height: 700px;
    margin-left: -45px;
    margin-top: -45px;
}